

body{
    background-color: rgba(228, 229, 235, 0);
    font-family:'Courier New', Courier, monospace;

}

h1 {
    color: green;
    text-align: center;
}

h2 {
    color: blue;
    text-align: center;
}



table {
    box-sizing: border-box;
    margin: auto;
    width: 80%;
}

table, th, td {
    border: 10px, dotted, black;
}

thead {
    background-color: darkcyan;
    color: whitesmoke;
    box-sizing: border-box;
 
}

tbody { 
    background-color: cornsilk;
}


kbd{
    background-color: aliceblue;
}